### <span style="color: red"> Task 1:</span> Some errors are presented in the code below. Can you identify and corret them?

In [291]:
import os
import csv

current_dir = os.getcwd()
filename = current_dir + '\\E1_T1.csv' # added \\ to correct filepath
with open(filename, 'r', newline='') as f: # added ' after newline
    csv_file = csv.reader(f)
    data = list(csv_file)
sentence=''
for word in data:
    sentence = sentence + ' '+ str(word) # casted word to string to correct type mismatch
print(sentence)
print(type(sentence))

 ['This', 'task', 'is', 'too', 'simple', ',', 'I', 'want', 'more', 'challenges']
<class 'str'>

### <span style="color: red"> Task 2:</span> Who has the most runner-up (i.e., second place) finishes in the histroy of NHL? Create a table with the teams and their runner-up finishes. The table must contain the the following columns:

-Team

-Total number of runner-up finishes

-Years [list of the years they finished as a runner-up]

You have to use Jupyter for the practice and produce a notebook with good readability.

### <span style="color: blue"> Solution:</span>

In [292]:
import pandas as pd

In [293]:
# Import data
file = "Stanely_cup_winners_by_year.xlsx"
df = pd.read_excel(file)

In [294]:
# Visuzlize structure of data
df.head()

   Year                 Team             Runner up
0  2020  Tampa Bay Lightning          Dallas Stars
1  2019      St. Louis Blues         Boston Bruins
2  2018  Washington Capitals  Vegas Golden Knights
3  2017  Pittsburgh Penguins   Nashville Predators
4  2016  Pittsburgh Penguins       San Jose Sharks

In [295]:
# Create new dataframe to store how many times each team was a runner up
df2 = pd.DataFrame()

In [296]:
# Get all teams who were runner ups

# Learnt .unique() from
# https://stackoverflow.com/questions/32072076/find-the-unique-values-in-a-column-and-then-sort-them
df2['Team'] = df['Runner up'].unique()

In [297]:
df2.head()

                   Team
0          Dallas Stars
1         Boston Bruins
2  Vegas Golden Knights
3   Nashville Predators
4       San Jose Sharks

In [298]:
runner_up_counts = pd.DataFrame(df.groupby(['Runner up']).count()['Team'])

In [299]:
runner_up_counts.head()

                     Team
Runner up
Boston Bruins          14
Buffalo Sabres          2
Calgary Flames          2
Calgary Tigers          1
Carolina Hurricanes     1

In [300]:
# Merged df2 with runner up counts 
# Learnt about pd.merge() from:
# https://towardsdatascience.com/all-the-pandas-merge-you-should-know-for-combining-datasets-526b9ecaf184
df2 = pd.merge(df2, runner_up_counts, left_on='Team', right_on='Runner up')

In [301]:
df2.head()

                 Team_x  Team_y
0          Dallas Stars       2
1         Boston Bruins      14
2  Vegas Golden Knights       1
3   Nashville Predators       1
4       San Jose Sharks       1

In [302]:
# Renaming column titles of runner-up history dataframe
df2.columns = ["Team", "Total number of runner-up finishes"]

In [303]:
# List years each team was a runner-up by grouping by runner up
"""
Learnt this method of indexing what .groupby() returns by year and applying .apply() to 
# apply the list() function row by row from
# https://stackoverflow.com/questions/22219004/how-to-group-dataframe-rows-into-list-in-pandas-groupby
"""
years_as_runner_up = df.groupby('Runner up')['Year'].apply(list)
years_as_runner_up = pd.DataFrame(years_as_runner_up)

# Adding index column 
# .reset_index() method from 
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html
years_as_runner_up = years_as_runner_up.reset_index()

In [304]:
years_as_runner_up.head()

             Runner up                                               Year
0        Boston Bruins  [2019, 2013, 1990, 1988, 1978, 1977, 1974, 195...
1       Buffalo Sabres                                       [1999, 1975]
2       Calgary Flames                                       [2004, 1986]
3       Calgary Tigers                                             [1924]
4  Carolina Hurricanes                                             [2002]

In [305]:
# Merge df2 and years_as_runner_up to attach list of years each team was a runner up 
# to the team name
team_years_runner_up = pd.merge(df2, years_as_runner_up, left_on="Team", right_on='Runner up')

In [306]:
df2['Years'] = team_years_runner_up['Year']

In [307]:
df2

,Team,Total number of runner-up finishes,Years
0,Dallas Stars,2,"[2020, 2000]"
1,Boston Bruins,14,"[2019, 2013, 1990, 1988, 1978, 1977, 1974, 195..."
2,Vegas Golden Knights,1,[2018]
3,Nashville Predators,1,[2017]
4,San Jose Sharks,1,[2016]
5,Tampa Bay Lightning,1,[2015]
6,New York Rangers,7,"[2014, 1979, 1972, 1950, 1937, 1932, 1929]"
7,New Jersey Devils,2,"[2012, 2001]"
8,Vancouver Canucks,3,"[2011, 1994, 1982]"
9,Philadelphia Flyers,6,"[2010, 1997, 1987, 1985, 1980, 1976]"
10,Detroit Red Wings,13,"[2009, 1995, 1966, 1964, 1963, 1961, 1956, 194..."
11,Pittsburgh Penguins,1,[2008]
12,Ottawa Senators,2,"[2007, 1915]"
13,Edmonton Oilers,2,"[2006, 1983]"
14,Calgary Flames,2,"[2004, 1986]"
15,Mighty Ducks of Anaheim,1,[2003]
16,Carolina Hurricanes,1,[2002]
17,Buffalo Sabres,2,"[1999, 1975]"
18,Washington Capitals,1,[1998]
19,Florida Panthers,1,[1996]
20,Los Angeles Kings,1,[1993]
21,Chicago Blackhawks,6,"[1992, 1973, 1971, 1965, 1962, 1944]"
22,Minnesota North Stars,2,"[1991, 1981]"
23,Montreal Canadiens,9,"[1989, 1967, 1955, 1954, 1952, 1951, 1947, 192..."
24,New York Islanders,1,[1984]
25,St. Louis Blues,3,"[1970, 1969, 1968]"
26,Toronto Maple Leafs,8,"[1960, 1959, 1940, 1939, 1938, 1936, 1935, 1933]"
27,Chicago Black Hawks,1,[1931]
28,Montreal Maroons,1,[1928]
29,Victoria Cougars,2,"[1926, 1914]"
30,Calgary Tigers,1,[1924]
31,Edmonton Eskimos,1,[1923]
32,Vancouver Millionaires,3,"[1922, 1921, 1918]"
33,Seattle Metropolitans,1,[1920]
34,Portland Rosebuds,1,[1916]
35,Sydney Miners,1,[1913]
36,Moncton Victories,1,[1912]
37,Port Arthur Bearcats,1,[1911]

The Boston Bruins have the most runner-up finishes

### <span style="color: red"> Task 3:</span> With the help of matminer, 1. Retrive the 'steel_strength' dataset into a dataframe and clean your dataset (i.e., do some basic data exploration and analysis work on your data. For instance, check the statistics of the dataset, check for NaNs, drop duplicated data entries etc. It is alway the first thing to do before you start working on a dataset.) if needed; 2. Featurize the compositions of the materials; and 3. Perform correlation analysis and drop feature(s) with a coefficient greater than abs(0.8) from your dataframe.

### <span style="color: blue"> Solution:</span>

In [308]:
import matminer
from matminer.datasets import load_dataset
#matminer.datasets.get_available_datasets() #you can check what datasets are available with this line

In [309]:
steel_data = load_dataset('steel_strength')

In [310]:
steel_data.head()

,formula,c,mn,si,cr,ni,mo,v,n,nb,co,w,al,ti,yield strength,tensile strength,elongation
0,Fe0.620C0.000953Mn0.000521Si0.00102Cr0.000110N...,0.02,0.05,0.05,0.01,19.70,2.95,0.01,0.00,0.01,15.00,0.00,0.15,1.55,2411.5,2473.5,7.0
1,Fe0.623C0.00854Mn0.000104Si0.000203Cr0.147Ni0....,0.18,0.01,0.01,13.44,0.01,3.01,0.46,0.04,0.01,19.46,2.35,0.04,0.00,1123.1,1929.2,8.0
2,Fe0.625Mn0.000102Si0.000200Cr0.0936Ni0.129Mo0....,0.00,0.01,0.01,8.67,13.45,0.82,0.01,0.00,0.01,13.90,0.00,0.39,0.57,1736.3,1871.8,NaN
3,Fe0.634C0.000478Mn0.000523Si0.00102Cr0.000111N...,0.01,0.05,0.05,0.01,17.70,3.95,0.01,0.00,0.01,15.00,0.00,0.13,1.47,2487.3,2514.9,9.0
4,Fe0.636C0.000474Mn0.000518Si0.00101Cr0.000109N...,0.01,0.05,0.05,0.01,19.40,1.45,0.01,0.00,0.01,14.90,0.00,0.13,1.55,2249.6,2315.0,8.5

Checking for NaN and duplicate rows:

In [311]:
# Checking for NaNs per column
# https://stackoverflow.com/questions/56261130/count-all-nans-in-a-pandas-dataframe
steel_data.isna().sum(axis=0)

formula             0
c                   0
mn                  0
si                  0
cr                  0
ni                  0
mo                  0
v                   0
n                   0
nb                  0
co                  0
w                   0
al                  0
ti                  0
yield strength      0
tensile strength    0
elongation          9
dtype: int64

There are 9 formulae with NaN elongation values. These rows will be discarded

In [312]:
steel_data = steel_data.dropna()

In [313]:
# Checking for duplicate rows
# Using same methodology as checking for NaN but used .duplicated()
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html
steel_data.duplicated().sum()

0

There are no repeated alloys in the data set.

In [314]:
from matminer.featurizers.conversions import StrToComposition
from matminer.featurizers.composition import ElementFraction
from tqdm.autonotebook import tqdm

In [315]:
# Get list of elements in each formula
steel_data_featurized = StrToComposition().featurize_dataframe(steel_data, "formula")

StrToComposition:   0%|          | 0/303 [00:00<?, ?it/s]

In [316]:
# Get element fraction of each alloy in steel_data
steel_data_featurized = ElementFraction().featurize_dataframe(steel_data_featurized, "composition")

ElementFraction:   0%|          | 0/303 [00:00<?, ?it/s]

In [317]:
copy_steel_data_featurized = steel_data_featurized

In [318]:
# Dropping columns that contain all zeros
# Code from:
# https://stackoverflow.com/questions/21164910/how-do-i-delete-a-column-that-contains-only-zeros-in-pandas
copy_steel_data_featurized = copy_steel_data_featurized.loc[:, (copy_steel_data_featurized != 0).any(axis=0)]

In [319]:
copy_steel_data_featurized

,formula,c,mn,si,cr,ni,mo,v,n,nb,...,Ti,V,Cr,Mn,Fe,Co,Ni,Nb,Mo,W
0,Fe0.620C0.000953Mn0.000521Si0.00102Cr0.000110N...,0.02,0.05,0.05,0.01,19.70,2.95,0.01,0.00,0.01,...,0.018499,0.000112,0.000110,0.000521,0.619964,0.145992,0.191989,0.000062,0.017599,0.000000
1,Fe0.623C0.00854Mn0.000104Si0.000203Cr0.147Ni0....,0.18,0.01,0.01,13.44,0.01,3.01,0.46,0.04,0.01,...,0.000000,0.005151,0.147026,0.000104,0.623112,0.188034,0.000097,0.000061,0.017903,0.007291
3,Fe0.634C0.000478Mn0.000523Si0.00102Cr0.000111N...,0.01,0.05,0.05,0.01,17.70,3.95,0.01,0.00,0.01,...,0.017611,0.000113,0.000111,0.000523,0.634395,0.146091,0.173108,0.000062,0.023715,0.000000
4,Fe0.636C0.000474Mn0.000518Si0.00101Cr0.000109N...,0.01,0.05,0.05,0.01,19.40,1.45,0.01,0.00,0.01,...,0.018400,0.000112,0.000109,0.000518,0.635985,0.143997,0.187995,0.000061,0.008600,0.000000
5,Fe0.636C0.00881Mn0.000203Si0.00972Cr0.135Ni0.0...,0.19,0.02,0.49,12.56,0.94,1.96,0.01,0.00,0.01,...,0.000000,0.000109,0.134886,0.000203,0.635465,0.189840,0.008912,0.000060,0.011390,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,Fe0.823C0.0176Mn0.00183Si0.000198Cr0.0779Ni0.0...,0.38,0.18,0.01,7.27,0.01,3.77,0.96,0.00,0.01,...,0.000000,0.010500,0.077900,0.001830,0.822998,0.046300,0.000095,0.000060,0.021900,0.000000
308,Fe0.823Mn0.000618Si0.00101Cr0.0561Ni0.0984Mo0....,0.00,0.06,0.05,5.15,10.20,3.20,0.01,0.00,0.01,...,0.001060,0.000111,0.056101,0.000618,0.823012,0.000096,0.098401,0.000061,0.018900,0.000000
309,Fe0.825C0.0174Mn0.00175Si0.000201Cr0.0565Ni0.0...,0.37,0.17,0.01,5.20,0.01,5.84,1.05,0.00,0.91,...,0.000000,0.011601,0.056505,0.001750,0.825070,0.046804,0.000096,0.005540,0.034403,0.000000
310,Fe0.858C0.0191Mn0.00194Si0.000199Cr0.0753Ni0.0...,0.41,0.19,0.01,6.99,0.01,5.84,0.92,0.00,0.01,...,0.000000,0.010103,0.075322,0.001941,0.858251,0.000190,0.000095,0.000060,0.034110,0.000000
311,Fe0.860C0.0125Mn0.00274Si0.000198Cr0.00439Ni0....,0.27,0.27,0.01,0.41,8.28,0.49,0.07,0.00,0.01,...,0.000000,0.000765,0.004392,0.002741,0.860334,0.036914,0.078631,0.000060,0.002841,0.000000

Performing a correlation analysis between all features

In [320]:
correlation_matrix = copy_steel_data_featurized.corr()

In [321]:
highly_correlated = correlation_matrix[correlation_matrix > abs(0.8)]

In [322]:
# Ignoring correlation of feature with itself
highly_correlated = highly_correlated[highly_correlated != 1]
highly_correlated

,c,mn,si,cr,ni,mo,v,n,nb,co,...,Ti,V,Cr,Mn,Fe,Co,Ni,Nb,Mo,W
c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.999889,NaN,NaN,NaN,NaN,NaN,NaN
si,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.999758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.999691,NaN,NaN,NaN
mo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.999828,NaN
v,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.999959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.999988,NaN,NaN
co,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.999798,NaN,NaN,NaN,NaN
w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.999918
al,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.999957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yield strength,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tensile strength,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
elongation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C,0.999847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.999947,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Al,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Si,NaN,NaN,0.999902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
V,NaN,NaN,NaN,NaN,NaN,NaN,0.999959,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cr,NaN,NaN,NaN,0.999758,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mn,NaN,0.999889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Co,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.999798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ni,NaN,NaN,NaN,NaN,0.999691,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.999988,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mo,NaN,NaN,NaN,NaN,NaN,0.999828,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [323]:
features_to_drop = []

# Iterate through upper right triangle of dataframe
for i in range(0, highly_correlated.shape[1] - 1):
    for j in range(i + 1, highly_correlated.shape[1]):
        # If element is not NaN, append column name
        if highly_correlated.iloc[[i], [j]].iloc[0][0] > 0:
            features_to_drop.append((highly_correlated.iloc[:,[j]].columns[0]))

In [324]:
features_to_drop

['C',
 'Mn',
 'Si',
 'Cr',
 'Ni',
 'Mo',
 'V',
 'N',
 'Nb',
 'Co',
 'W',
 'Al',
 'Ti',
 'tensile strength']

In [325]:
# Drop highly correlated features
low_correlation_df = copy_steel_data_featurized.drop(columns=features_to_drop)

In [326]:
low_correlation_df

,formula,c,mn,si,cr,ni,mo,v,n,nb,co,w,al,ti,yield strength,elongation,composition,Fe
0,Fe0.620C0.000953Mn0.000521Si0.00102Cr0.000110N...,0.02,0.05,0.05,0.01,19.70,2.95,0.01,0.00,0.01,15.00,0.00,0.15,1.55,2411.5,7.0,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al, Ti)",0.619964
1,Fe0.623C0.00854Mn0.000104Si0.000203Cr0.147Ni0....,0.18,0.01,0.01,13.44,0.01,3.01,0.46,0.04,0.01,19.46,2.35,0.04,0.00,1123.1,8.0,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, N, Nb, Co, W, Al)",0.623112
3,Fe0.634C0.000478Mn0.000523Si0.00102Cr0.000111N...,0.01,0.05,0.05,0.01,17.70,3.95,0.01,0.00,0.01,15.00,0.00,0.13,1.47,2487.3,9.0,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al, Ti)",0.634395
4,Fe0.636C0.000474Mn0.000518Si0.00101Cr0.000109N...,0.01,0.05,0.05,0.01,19.40,1.45,0.01,0.00,0.01,14.90,0.00,0.13,1.55,2249.6,8.5,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al, Ti)",0.635985
5,Fe0.636C0.00881Mn0.000203Si0.00972Cr0.135Ni0.0...,0.19,0.02,0.49,12.56,0.94,1.96,0.01,0.00,0.01,20.10,0.00,0.03,0.00,1328.3,19.7,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al)",0.635465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,Fe0.823C0.0176Mn0.00183Si0.000198Cr0.0779Ni0.0...,0.38,0.18,0.01,7.27,0.01,3.77,0.96,0.00,0.01,4.90,0.00,0.03,0.00,1722.5,5.0,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al)",0.822998
308,Fe0.823Mn0.000618Si0.00101Cr0.0561Ni0.0984Mo0....,0.00,0.06,0.05,5.15,10.20,3.20,0.01,0.00,0.01,0.01,0.00,0.03,0.09,1019.0,19.0,"(Fe, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al, Ti)",0.823012
309,Fe0.825C0.0174Mn0.00175Si0.000201Cr0.0565Ni0.0...,0.37,0.17,0.01,5.20,0.01,5.84,1.05,0.00,0.91,4.88,0.00,0.03,0.00,1860.3,3.0,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al)",0.825070
310,Fe0.858C0.0191Mn0.00194Si0.000199Cr0.0753Ni0.0...,0.41,0.19,0.01,6.99,0.01,5.84,0.92,0.00,0.01,0.02,0.00,0.03,0.00,1812.1,2.0,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al)",0.858251
311,Fe0.860C0.0125Mn0.00274Si0.000198Cr0.00439Ni0....,0.27,0.27,0.01,0.41,8.28,0.49,0.07,0.00,0.01,3.90,0.00,0.03,0.00,1139.7,15.4,"(Fe, C, Mn, Si, Cr, Ni, Mo, V, Nb, Co, Al)",0.860334

### <span style="color: red"> Task 4:</span> Setup a private Github repository for this course. Name it MSE403_\<YourName>_\<YourStudentID>. You will be using this repo for homework submission and course project version control. A good place to get started is [here](https://docs.github.com/en/get-started/quickstart/hello-world). You can choose to use the GitHub via the terminal (<ins>recommanded</ins>), the [GitHub desktop app](https://desktop.github.com/), or the online GitHub platform. After setting up your repo, make sure to share your repo with [Jae]() and [Xiao](https://github.com/xshang93) by adding us as collabrators.

In [327]:
# Done